extends ../base/base
include ../../components/subtitle/subtitle
include ../../components/text-field/text-field
include ../../components/checkbox/checkbox
include ../../components/form-section/form-section

block variables
  -
    const lang = 'ru'
    const title = 'Test'
    const keywords = 'тестовое задание, компания "Точка-Точка"'
    const description = 'тестовое задание для компании "Точка-Точка"'
    const bodyClassName = 'i-page'
    const {formSections, buttonText} = htmlWebpackPlugin.options.getData()

block main
  // abbreviation "i-page" means "index-page"
  main.i-page__content
    h1.i-page__title FTL: Прямая машина
    form.i-page__form(id="form" action="" method="")
      each section in formSections
        +form-section(section)
    button.i-page__button(form="form" type="submit")= buttonText
