@import '../../theme/scss/variables.scss';

.checkbox {
  display: inline-block;
  font-size: 13px;
  position: relative;
  padding-left: 36px;
  cursor: pointer;

  &__input {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;

    &::before {
      position: absolute;
      top: -4px;
      left: 1px;
      content: '';
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s;
    }

    &:checked::before {
      background: $bg-color;
      content: url(./img/tick.svg);
      border: none;
      transition: .5s;
    }
  }
}
