mixin checkbox( {label = 'Требуется температурный режим', name = 'temperature-control', isChecked} = {} )
  -
    const inputAttributes = {
      type: 'checkbox',
      name: name,
      checked: isChecked
    }

  label.checkbox= label
    input.checkbox__input&attributes(inputAttributes)
