@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #343539;
  font-family: $main-font;
  font-weight: 400;
  font-size: $main-font-size;
  color: $title-color;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}
