$main-font: 'Helvetica Neue', Arial, sans-serif;
$main-font-size: 15px;

$title-color: #fff;
$text-color: #000;
$placeholder-color: #CFCFCF;
$bg-color: #EF483E;

$small-phone-width: 320px;
$phone-width: 480px;
$large-phone-width: 640px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$large-tablet-width: 1024px;
$small-desktop-width: 1280px;
$desktop-width: 1440px;
